In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv('/content/drive/MyDrive/NLP P1/Data.csv', encoding = "ISO-8859-1")

In [4]:
df.head(3)

,Date,Label,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,2000-01-03,0,A 'hindrance to operations': extracts from the...,Scorecard,Hughes' instant hit buoys Blues,Jack gets his skates on at ice-cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl's successor drawn into scandal,The difference between men and women,"Sara Denver, nurse turned solicitor",Diana's landmine crusade put Tories in a panic,Yeltsin's resignation caught opposition flat-f...,Russian roulette,Sold out,Recovering a title
1,2000-01-04,0,Scorecard,The best lake scene,Leader: German sleaze inquiry,"Cheerio, boyo",The main recommendations,Has Cubie killed fees?,Has Cubie killed fees?,Has Cubie killed fees?,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man's extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn't know without the ...,Millennium bug fails to bite
2,2000-01-05,0,Coventry caught on counter by Flo,United's rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,...,South Melbourne (Australia),Necaxa (Mexico),Real Madrid (Spain),Raja Casablanca (Morocco),Corinthians (Brazil),Tony's pet project,Al Nassr (Saudi Arabia),Ideal Holmes show,Pinochet leaves hospital after tests,Useful links

In [5]:
train = df[df['Date'] < '20150101']
test = df[df['Date'] > '20141231']

In [6]:
data = train.iloc[: , 2:27]
data.replace('[^a-zA-Z]', " ", regex = True , inplace = True)

In [7]:
data.head(3)

,Top1,Top2,Top3,Top4,Top5,Top6,Top7,Top8,Top9,Top10,...,Top16,Top17,Top18,Top19,Top20,Top21,Top22,Top23,Top24,Top25
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title
1,Scorecard,The best lake scene,Leader German sleaze inquiry,Cheerio boyo,The main recommendations,Has Cubie killed fees,Has Cubie killed fees,Has Cubie killed fees,Hopkins furious at Foster s lack of Hannibal...,Has Cubie killed fees,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man s extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn t know without the ...,Millennium bug fails to bite
2,Coventry caught on counter by Flo,United s rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,McGrath puts India out of their misery,Blair Witch bandwagon rolls on,...,South Melbourne Australia,Necaxa Mexico,Real Madrid Spain,Raja Casablanca Morocco,Corinthians Brazil,Tony s pet project,Al Nassr Saudi Arabia,Ideal Holmes show,Pinochet leaves hospital after tests,Useful links

In [8]:
new_index = [str(i) for i in [j for j in range(25)]]

In [9]:
data.columns = new_index

In [10]:
data.head(3)

,0,1,2,3,4,5,6,7,8,9,...,15,16,17,18,19,20,21,22,23,24
0,A hindrance to operations extracts from the...,Scorecard,Hughes instant hit buoys Blues,Jack gets his skates on at ice cold Alex,Chaos as Maracana builds up for United,Depleted Leicester prevail as Elliott spoils E...,Hungry Spurs sense rich pickings,Gunners so wide of an easy target,Derby raise a glass to Strupar s debut double,Southgate strikes Leeds pay the penalty,...,Flintoff injury piles on woe for England,Hunters threaten Jospin with new battle of the...,Kohl s successor drawn into scandal,The difference between men and women,Sara Denver nurse turned solicitor,Diana s landmine crusade put Tories in a panic,Yeltsin s resignation caught opposition flat f...,Russian roulette,Sold out,Recovering a title
1,Scorecard,The best lake scene,Leader German sleaze inquiry,Cheerio boyo,The main recommendations,Has Cubie killed fees,Has Cubie killed fees,Has Cubie killed fees,Hopkins furious at Foster s lack of Hannibal...,Has Cubie killed fees,...,On the critical list,The timing of their lives,Dear doctor,Irish court halts IRA man s extradition to Nor...,Burundi peace initiative fades after rebels re...,PE points the way forward to the ECB,Campaigners keep up pressure on Nazi war crime...,Jane Ratcliffe,Yet more things you wouldn t know without the ...,Millennium bug fails to bite
2,Coventry caught on counter by Flo,United s rivals on the road to Rio,Thatcher issues defence before trial by video,Police help Smith lay down the law at Everton,Tale of Trautmann bears two more retellings,England on the rack,Pakistan retaliate with call for video of Walsh,Cullinan continues his Cape monopoly,McGrath puts India out of their misery,Blair Witch bandwagon rolls on,...,South Melbourne Australia,Necaxa Mexico,Real Madrid Spain,Raja Casablanca Morocco,Corinthians Brazil,Tony s pet project,Al Nassr Saudi Arabia,Ideal Holmes show,Pinochet leaves hospital after tests,Useful links

In [11]:
" ".join(str(x) for x in data.iloc[1,0:25])

'Scorecard The best lake scene Leader  German sleaze inquiry Cheerio  boyo The main recommendations Has Cubie killed fees  Has Cubie killed fees  Has Cubie killed fees  Hopkins  furious  at Foster s lack of Hannibal appetite Has Cubie killed fees  A tale of two tails I say what I like and I like what I say Elbows  Eyes and Nipples Task force to assess risk of asteroid collision How I found myself at last On the critical list The timing of their lives Dear doctor Irish court halts IRA man s extradition to Northern Ireland Burundi peace initiative fades after rebels reject Mandela as mediator PE points the way forward to the ECB Campaigners keep up pressure on Nazi war crimes suspect Jane Ratcliffe Yet more things you wouldn t know without the movies Millennium bug fails to bite'

In [13]:
len(data.index)

3975

In [14]:
headlines = []
for row in range(0 , len(data.index)) : 
  headlines.append(' '.join(str(x) for x in data.iloc[row, 0:25]))

In [19]:
headlines[1]

'Scorecard The best lake scene Leader  German sleaze inquiry Cheerio  boyo The main recommendations Has Cubie killed fees  Has Cubie killed fees  Has Cubie killed fees  Hopkins  furious  at Foster s lack of Hannibal appetite Has Cubie killed fees  A tale of two tails I say what I like and I like what I say Elbows  Eyes and Nipples Task force to assess risk of asteroid collision How I found myself at last On the critical list The timing of their lives Dear doctor Irish court halts IRA man s extradition to Northern Ireland Burundi peace initiative fades after rebels reject Mandela as mediator PE points the way forward to the ECB Campaigners keep up pressure on Nazi war crimes suspect Jane Ratcliffe Yet more things you wouldn t know without the movies Millennium bug fails to bite'

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [21]:
countvector = CountVectorizer(ngram_range = (2,2))
traindataset = countvector.fit_transform(headlines)

In [23]:
rc = RandomForestClassifier(n_estimators = 200, criterion = 'entropy')
rc.fit(traindataset,train['Label'])

RandomForestClassifier(criterion='entropy', n_estimators=200)

In [24]:
test_headlines = []
for row in range(0 , len(test.index)) : 
  test_headlines.append(' '.join(str(x) for x in test.iloc[row, 2:27]))

In [26]:
test_headlines[1]

'Moscow-&gt;Beijing high speed train will reduce trip time to 48 hours, from the current 7 days Two ancient tombs were discovered in Egypt on Sunday, with one representing a symbolic burial site of the god Osiris while another is claimed to be a previously unknown pharaonic tomb. China complains to Pyongyang after N Korean soldier kills villagers | World news Scotland Headed Towards Being Fossil Fuel-Free by 2030 - Renewable energy projects combined with energy savings could decarbonise the countrys power sector. "We need to see the phasing out of conventional generation in Scotland." Prime Minister Shinzo Abe said Monday he will express remorse for Japans actions in World War II while highlighting the countrys bid to contribute more actively to world peace in his statement marking the 70th anniversary of the wars end in August. Sex slave at centre of Prince Andrew scandal fled to Australia as a teen Gay relative of Hamas founder faces deportation from Canada: Christian convert, 24, whose five uncles were jailed in Israel for terror activity, says hell be killed if forced to return to West Bank The number of female drug addicts in Iran has almost doubled since 2007, with more than 50% starting between the ages of 15 and 19 After Decades of Searching, the Causeway for the Great Pyramid of Egypt has been Found India lost 64 tigers in 2014 Lizard Squad hacking of Sony was "huge marketing" scheme to launch "Lizard Stresser", a paid hacking service. Russia \'may face chaos\' if extra sanctions imposed: Germany The Saudi air and land forces carry out an attack on ISIS within its territory ISIL is reportedly setting up a bank in attempt to \'legitimatise\' itself as a nation state Israel to brand anti-assimilation group Lehava as terrorists The Islamic State has approved a 2015 budget of $2 billion, with an expected surplus of $250 million and has opened an Islamic Bank in Mosul. The budget reportedly includes monthly wages for the poor, disabled and families of individuals killed in airstrikes carried out by US-led coalition forces Iceland To Withdraw EU Application, Lift Capital Controls Blackfield Capital Founder Goes Missing: The value of the ruble isn\'t the only thing that is vanishing in Russia. A Moscow hedge fund chief executive has disappeared, along with all the money in the firm\'s accounts Rocket stage crashes back to Earth in rural Chinese village. 2 Dead as Aircraft Bombs Greek Tanker in Libyan Port Belgian murderer Frank Van Den Bleeken to die at own request. A Belgian murderer and rapist serving a life sentence is to be allowed to die by lethal injection next Sunday following a ruling under laws in Belgium permitting people to request euthanasia. Czech President criticizes Ukrainian PM; says Yatsenyuk is \'prime minister of war\' 3 Vietnamese jets join search for 16 missing Filipinos in Bahamian cargo ship sinking France seeks end to Russia sanctions over Ukraine China scraps rare earths caps'

In [27]:
test_dataset = countvector.transform(test_headlines)
prediction = rc.predict(test_dataset)

In [29]:
prediction

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1,
       1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 0, 1,
       1, 1, 1, 1])

In [30]:
from sklearn.metrics import classification_report, confusion_matrix , accuracy_score

In [31]:
matrix = confusion_matrix(test["Label"],prediction)
print(matrix)

[[142  44]
 [  6 186]]

In [33]:
score = accuracy_score(test['Label'], prediction)
score

0.8677248677248677

In [35]:
print(classification_report(test['Label'], prediction))

              precision    recall  f1-score   support

           0       0.96      0.76      0.85       186
           1       0.81      0.97      0.88       192

    accuracy                           0.87       378
   macro avg       0.88      0.87      0.87       378
weighted avg       0.88      0.87      0.87       378